section#display-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 2rem 0;

  .section-1 {
    flex-grow: 2;

    .display-title {
      font-weight: 400;
      letter-spacing: -.5px;
      color: rgb(51, 51, 51);
      margin: 0 0 1rem 0;
    }
  
    .display-price {
      margin: 0;
      font-weight: 500;
    }
  
    .display-partNumber {
      font-size: .7rem;
      font-weight: 300;
      margin: .5rem 0 0 0;
    }
  }

  .in-stock {
    flex-grow: 1;

    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: -.6px;
    color: #00ab06;
  }

  .section-3 {
    flex-grow: 3;

    display: flex;

    button {
      width: 100%;
      height: 3.5rem;
      margin: .25rem 0.5rem;
      padding: 0rem;

      font-size: .8rem;
      font-weight: 400;
      letter-spacing: -.25px;
      text-transform: uppercase;

      background: transparent;
      border: 1px black solid;

      cursor: pointer;
    }

    button:first-child {
      border: none;
      color: white;
      background-color: rgb(231, 8, 0)
    }
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {

}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {
  #display-footer-container {
    .section-3 {
      flex-direction: column;
    }
  }
}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
  section#display-footer-container {
    flex-direction: column;

    .section-3 {
      button {
        height: 2.5rem;
  
        font-size: .8rem;
        letter-spacing: -.25px;
      }
    }
  }

  .section-1, .section-3, .in-stock {
    margin-bottom: 2rem;
  }
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {

}
