#cart {
  padding: $topHeaderHeight + $bottomHeaderHeight 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h1 {
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 4rem 0 2rem 0;
  }

  .cart-col {
    padding: 0 0.75rem;
  }
}

#cart-contents {
  display: flex;
}

#empty-cart {
  text-align: center;

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-weight: 400;
    letter-spacing: -0.75px;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 0.85rem;
    letter-spacing: -0.35px;
    margin-bottom: 0.5rem;
  }

  a {
    color: $redText;
  }
}

#cart-footer {
  display: flex;

  .cart-footer-col {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .cart-footer-col:first-child {
    margin-right: 3rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.35px;
  }

  p,
  a {
    margin: 0.45rem 0;
  }

  a {
    color: #414141;
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {
}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {
}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
  #cart {
    /* top | right | bottom | left */
    padding: $topHeaderHeight + $bottomHeaderHeight-mobile 1rem 3rem 1rem;
  }

  #cart-footer {
    flex-direction: column;
  }
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
}
