footer {
  background-color: rgb(20, 20, 20);
  color: white;
  display: flex;
  justify-content: space-between;

  padding: 2.75rem;
  padding-bottom: 5rem;
}

.footer-col-1 {
  div:first-child {
    display: flex;
    align-items: center;

    input,
    button {
      height: 2.8rem;
      border: none;
      box-sizing: border-box;
    }

    input {
      background-color: rgb(65, 65, 65);
      padding: 1.25rem;
      color: rgb(255, 255, 255);

      &::placeholder {
        color: rgb(151, 151, 151);
      }
    }

    button {
      background-color: rgb(235, 47, 41);
      color: $whiteTextColor;
      text-transform: uppercase;
      padding: 1rem 2rem;

      &:hover {
        background-color: rgb(190, 38, 33);
        transition: background-color 0.25s;
      }
    }
  }

  div:last-child {
    display: flex;
    flex-direction: column;

    margin-top: 2.5rem;
    color: rgb(134, 134, 134);
    font-size: 0.7rem;
    letter-spacing: 0.05px;

    a {
      color: white;
      margin-top: 0.5rem;
      font-weight: 600;

      &:hover {
        color: $redText;
        transition: color 0.125s;
      }
    }
  }
}

.footer-col-2 {
  div.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.75rem;
    padding: 0 3rem;
    margin-bottom: 2rem;

    a {
      margin: 0.5rem 1rem;
      color: $whiteTextColor;
      text-decoration: none;

      &:hover {
        color: $redText;
        transition: color 0.125s;
      }
    }
  }

  div:last-child {
    color: rgb(134, 134, 134);

    div {
      display: flex;
      justify-content: center;
      font-size: 0.75rem;

      a {
        margin: 1.5rem 1rem;
        color: rgb(134, 134, 134);
        text-decoration: none;

        &:hover {
          color: $redText;
          transition: color 0.125s;
        }
      }
    }
  }
}

.footer-col-3 {
  button {
    background-color: rgb(65, 65, 65);
    font-size: 1.125rem;
    color: $whiteTextColor;
    text-transform: uppercase;
    width: 18rem;
    height: 2.8rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgb(190, 38, 33);
      transition: background-color 0.125s;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2.5rem 4rem;
    padding: 0;
  }

  a {
    color: white;
    font-size: 1.5rem;

    &:hover {
      color: $redText;
      transition: background-color 0.125s;
    }
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {
}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {
  .footer-col-2 {
    // moving this section to the bottom
    order: 1;
  }

  footer {
    flex-direction: column;
  }

  .footer-col-1 {
    text-align: center;

    div:first-child {
      display: flex;
      flex-direction: column;

      input,
      button {
        width: 100%;
      }

      input {
        margin-bottom: 0.75rem;
      }
    }
  }

  .footer-col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .find-retailer {
      width: 100%;
    }

    button {
      margin-top: 4.5rem;
      width: 100%;
    }

    li {
      margin: 0.25rem 1rem;
    }
  }
}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
}
