header {
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.top-header {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $topHeaderHeight;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 1rem;
  }

  div {
    letter-spacing: 0.0625em;
    height: 100%;

    span {
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0 .5rem;
    }

    .find-retailer-icon {
      background: url("../Assets/Icons/map-marker.svg");
      background-position: center;
      background-repeat: no-repeat;

      display: inline-block;
      width: 12px;
      height: 12px;

      position: relative;
      top: 1px;
      right: 0.5rem;
      padding: 0;
    }

    .flag-icon {
      background: url("../Assets/Icons/us-flag.svg");
      background-position: center;
      background-repeat: no-repeat;

      display: inline-block;
      width: 20px;
      height: 20px;

      position: relative;
      top: 6.25px;
      right: 3px;
      padding: 0;
    }

    button {
      padding: 0 3rem;
      height: 100%;
      background-color: rgb(65, 65, 65);
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-size: 0.75rem;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
      border: none;
    }
  }
}

.bottom-header {
  background-color: #fff;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $bottomHeaderHeight;
  color: $textColor;
  position: relative;

  #menu-button {
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    padding: 0;
    display: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    font-size: 0.85rem;
    color: $textColor;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 2.25rem;

    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
    margin: 0 1.5rem;

    a {
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 600;
      color: $textColor;
      letter-spacing: -0.25px;

      &:hover {
        color: rgb(217, 55, 49);
      }
    }
  }

  .logo {
    background: url("../Assets/Icons/SpecializedNavLogo.png");
    width: 150px;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .search-icon {
    background: url("../Assets/Icons/search.svg");
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 23px;
    height: 23px;
    padding: 0 0.5rem;

    &:hover {
      color: rgb(217, 55, 49);
    }
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {
}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {
  .top-header {
    font-size: 0.8rem;
    padding: 0 1rem;
  }

  .bottom-header {
    padding: 0 1rem;

    li {
      margin: 0 1rem;

      a {
        font-size: 0.75rem;
      }
    }
  }
}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
  .top-header {
    padding-left: 0;
    display: flex;
    justify-content: center;

    div {
      display: none;
    }
  }

  .bottom-header {
    height: $bottomHeaderHeight-mobile;
    padding: 0 1rem;

    ul {
      display: none;
    }

    #menu-button {
      display: flex;
    }
  }
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
}
