.list-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: $sidePadding * 2;
}

.item-card {
  margin: 1rem;
  padding: 2rem 1.5rem;
  width: calc(33% - 6rem);
  background-color: rgb(255,255,255);

  color: #414141;
  text-decoration: none;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: .75rem;
    font-weight: 200;
    transform:scale(1, 1.075)
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {

}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {

}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
  .item-card {
    margin: .5rem;
    padding: 1rem 1.5rem;
    width: calc(50% - 4rem);
  }
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
  .item-card {
    margin: .5rem 0;
    padding: 1rem 1.5rem;
    width: 100%;
  }
}
