#hero {
  position: relative;
  background-image: url('../Assets/Images/Landing/LandingHero.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - (#{$topHeaderHeight} + #{$bottomHeaderHeight}));
  width: 100%;

  color: white;

  #hero-text {
    position: absolute;
    top: 15%;
    left: 7%;

    text-transform: uppercase;
    // padding-left: 3rem;

    h1 {
      font-size: 6rem;
      font-weight: 900;
      text-shadow: 1px 1px 10px black;
    }

    h3 {
      font-weight: 400;
      text-shadow: 1px 1px 10px black;
    }

    button {
      margin-top: 2rem;
      padding: 1rem 3rem;
      height: 100%;
      background-color: rgb(41, 41, 41);
      color: rgb(255,255,255);
      font-weight: 600;
      font-size: .75rem;
      text-transform: uppercase;
      border: none;
    }
  }

  h1, h3 {
    margin: 0;
  }
}

#story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
  }

  p {
    margin-top: 2rem;
    width: 70%;
    text-align: center;

    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 300;
    letter-spacing: .06rem;
  }

  button {
    margin-top: 2rem;
    padding: 1.5rem 2.25rem;
    height: 100%;
    background-color: rgb(41, 41, 41);
    color: rgb(255,255,255);
    font-weight: 400;
    text-transform: uppercase;
    border: none;
  }
}

#categories {
  background-color: #090909;
  color: #fff;
  padding: 9rem 4rem;

  h3 {
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }

  li {
    width: 33.3%;
    overflow: hidden;
    position: relative;
  }

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 1px 1px 10px black;
    
  }

  div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .4;
    transition: transform .5s, opacity .5s;
    
    &:hover {
      transform: scale(1.1);
      opacity: .9;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#trail-bike-link {
  background-image: url('../Assets/Images/Landing/TrailBGCategoires.jpg');
  background-size: cover;
  background-position: center;
}

#downhill-bike-link {
  background-image: url('../Assets/Images/Landing/DownHillBGCategories.jpg');
  background-size: cover;
  background-position: center;
}

#sworks-bike-link {
  background-image: url('../Assets/Images/Landing/SWorksBGCategories.jpg');
  background-size: cover;
  background-position: center;
}

#large-image {
  background-image: url('../Assets/Images/Landing/LandingBigImage.jpg');
  background-size: cover;
  background-position: center;
  height: 65vh;
  background-color: #090909;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    padding: 2rem;
  }

  h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 6.5rem;
    text-shadow: 1px 1px 4px rgb(85, 85, 85);

    text-transform: uppercase;
  }

  span {
    color: white;
    text-shadow: 1px 1px 10px black;
  }
}
