section {
  padding: 10rem 0;
}

#hero {
  position: relative;
  background-image: url("../Assets/Images/Landing/LandingHero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  color: white;

  #hero-text {
    position: absolute;
    top: 23%;
    left: 3%;

    text-transform: uppercase;

    h1 {
      font-size: 4.5rem;
      font-weight: 900;
      line-height: 4rem;
      text-shadow: 1px 1px 10px black;
    }

    h3 {
      font-weight: 400;
      text-shadow: 1px 1px 10px black;
      padding-right: 3rem;
    }

    button {
      margin-top: 2rem;
      padding: 1rem 3rem;
      height: 100%;
      background-color: rgb(41, 41, 41);
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
    }
  }

  h1,
  h3 {
    margin: 0;
  }
}

#story {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
  }

  p {
    margin-top: 2rem;
    width: 70%;
    text-align: center;

    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.06rem;
  }
}

#categories {
  background-color: #090909;
  color: #fff;

  h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0 4rem;
  }

  li {
    width: 33.3%;
    overflow: hidden;
    position: relative;
  }

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 1px 1px 10px black;
  }

  div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#trail-bike-link {
  background-image: url("../Assets/Images/Landing/TrailBGCategoires.jpg");
  background-size: cover;
  background-position: center;
}

#downhill-bike-link {
  background-image: url("../Assets/Images/Landing/DownHillBGCategories.jpg");
  background-size: cover;
  background-position: center;
}

#sworks-bike-link {
  background-image: url("../Assets/Images/Landing/SWorksBGCategories.jpg");
  background-size: cover;
  background-position: center;
}

#large-image {
  background-image: url("../Assets/Images/Landing/LandingBigImage.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  background-color: #090909;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    padding: 2rem 4rem;
  }

  h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 6.5rem;
    text-shadow: 1px 1px 4px rgb(85, 85, 85);

    text-transform: uppercase;
  }

  span {
    color: white;
    text-shadow: 1px 1px 10px black;
  }
}

#video {
  background-color: #090909;

  h2 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;

    margin: 2rem 4rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
  }
}

#instagram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 5rem;

  h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
  }

  a {
    display: flex;
    justify-content: center;

    color: $textColor;
    text-decoration: none;

    display: flex;
    align-items: center;
  }

  img#logo {
    height: 90px;
  }

  img#verified {
    height: 20px;
  }

  span {
    padding: 0 0.75rem;
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
  }

  li {
    width: 33.3%;
    overflow: hidden;
    position: relative;
    margin: 1rem;
  }

  div {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #img1 {
    background-image: url("../Assets//Images/Landing//IG1.jpg");
  }

  #img2 {
    background-image: url("../Assets//Images/Landing//IG2.jpg");
  }

  #img3 {
    background-image: url("../Assets//Images/Landing//IG3.jpg");
  }

  #img4 {
    background-image: url("../Assets//Images/Landing//IG4.jpg");
  }

  #img5 {
    background-image: url("../Assets//Images/Landing//IG5.jpg");
  }

  #img6 {
    background-image: url("../Assets//Images/Landing//IG6.jpg");
  }
}

/* Large tablet: 1023px - 1200px*/
@media only screen and (max-width: 1200px) {
  #hero {
    #hero-text {
      position: absolute;
      top: 65%;
      left: 5%;
    }
  }
}

/* Small tablet to large tablet: 767px - 1023px */
@media only screen and (max-width: 1023px) {
  #hero {
    #hero-text {
      h1 {
        font-size: 4rem;
        line-height: 4.5rem;
      }
    }
  }

  #instagram {
    padding: 4rem 0.5rem;
    align-items: center;

    img#logo {
      height: 40px;
    }

    img#verified {
      height: 15px;
    }

    ul:first-of-type {
      margin-top: 1rem;
    }

    ul:last-of-type {
      margin-bottom: 3rem;
    }

    ul {
      margin: 0;
    }

    li {
      margin: 0.5rem;
    }

    div {
      height: 230px;
    }
  }
}

/* small phones to small tablets: 480px - 767px */
@media only screen and (max-width: 767px) {
  #hero {
    #hero-text {
      h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4.5rem;
      }

      h3 {
        font-weight: 400;
        text-shadow: 1px 1px 10px black;
        padding-right: 3rem;
      }

      button {
        margin-top: 2rem;
        padding: 1rem 3rem;
        height: 100%;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
        border: none;
      }
    }
  }
}

/* small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 5rem 0;
  }

  #hero {
    #hero-text {
      h1 {
        font-size: 2rem;
        line-height: 1.8rem;
      }

      h3 {
        font-size: 1rem;
      }
    }
  }

  #story {
    h2 {
      font-size: 2rem;
    }

    p {
      width: 85%;
    }
  }

  #categories {
    h3 {
      font-size: 1.75rem;
      font-weight: 500;
      text-align: center;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    ul {
      padding: 0;
    }

    a {
      font-size: 1.15rem;
      font-weight: 800;
    }

    div {
      height: 50vh;
    }

    span {
      width: 100%;
      text-align: center;
    }
  }

  #large-image {
    height: 65vh;

    div {
      padding: 0.5rem;
    }

    h2 {
      font-size: 4.5rem;
      line-height: 3.5rem;
    }

    span {
      color: white;
      text-shadow: 1px 1px 10px black;
    }
  }

  #video {
    h2 {
      text-align: center;
      font-weight: 400;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      width: 100%;
    }
  }

  #instagram {
    padding: 4rem 0.25rem;

    li {
      margin: 0.25rem;
    }

    div {
      height: 120px;
    }
  }
}
