header {
  background-color: rgb(18,18,18);
  height: 2.25rem;
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255,255,255);
  font-weight: 500;
  text-transform: uppercase;

  div {
    height: 100%;
    letter-spacing: 0.0625em;

    span {
      font-size: .7rem;
      font-weight: 600;
      padding: 0 1.5rem;
    }

    .find-retailer-icon {
      background: url('Assets/Icons/map-marker.svg');
      background-position: center;
      background-repeat: no-repeat;

      display: inline-block;
      width: 12px;
      height: 12px;

      position: relative;
      top: 1px;
      right: .5rem;
      padding: 0; 
    }

    .flag-icon {
      background: url('Assets/Icons/us-flag.svg');
      background-position: center;
      background-repeat: no-repeat;

      display: inline-block;
      width: 20px;
      height: 20px;

      position: relative;
      top: 6.25px;
      right: 3px;
      padding: 0; 
    }

    button {
      width: 10rem;
      height: 100%;
      background-color: rgb(65,65,65);
      color: rgb(255,255,255);
      font-weight: 600;
      font-size: .75rem;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
      border: none;
    }
  }
}
